body {
  margin: 0;
  padding: 0;
}

.slider {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-image: linear-gradient(to top right, rgb(131, 210, 128), pink);
}

.item {
  position: absolute;
  background-color: aliceblue;
  border-radius: 16px;
  padding: 10px;
  max-width: 300px;
  min-height: 400px;
  transition: all ease .3s;
}

.button {
  position: absolute;
  left: 30px;
  font-size: 30px;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 99;
}

.button:hover {
  color: aliceblue;
}

#btn-next {
  left: unset;
  right: 30px;
}