@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(222, 182, 108);
  margin: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  background-color: #f9f7f7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 100px auto 200px;
  overflow: hidden;
}

.right {
  border-left: 1px solid #ebe9e9;
  padding-top: 20px;
}
.left {
  text-align: center;
  border-right: 1px solid #ebe9e9;
  padding: 15px 5px;
}
.left ul {
  margin: 0;
  padding: 0;
}
.left li {
  list-style-type: none;
  color: rgb(192, 191, 191);
}

.left li i {
  margin-bottom: 7px;
}
.left li div {
  margin-bottom: 15px;
  font-size: 13px;
}

.left .active {
  color: black !important;
}

.left .active div {
  color: black !important;
}

.center {
  padding: 15px;
}


.banner {
  position: relative;
  margin-top: 10px;
  height: 500px !important;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px #767676;
  object-fit: cover;
  object-position: 70% 0;
  z-index: 1;
}


.info-banner {
  position: absolute;
  color: #e5a836;
  font-size: 25px;
  margin-top: 10%;
  left: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  z-index: 2;
}

.content {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.item {
  border-radius: 20px;
  object-fit: cover;
  flex: 1;
  transition: 0.5s all ease;

}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 20% 50%;
  border-radius: 10px;
  box-shadow: 0 10px 20px #898888;
}

.item:hover {
  flex: 3;
}

.item:nth-child(2) img {
  object-position: 50% 50%;
}

.item:nth-child(4) img {
  object-position: 60% 50%;
}

.item:nth-child(5) img {
  object-position: 60% 50%;
}

.item:nth-child(6) img {
  object-position: 55% 50%;
}

@keyframes onShow {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.animationShow {
  opacity: 0;
  animation: onShow 0.5s ease-in-out 1 forwards;
}

@keyframes onShow1 {
  from {
    opacity: 0;
    transform: translate(-50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animationShow1 {
  opacity: 0;
  animation: onShow1 0.5s ease-in-out 1 forwards;
}

@keyframes onShow2 {
  from {
    opacity: 0;
    transform: translate(50px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animationShow2 {
  opacity: 0;
  animation: onShow2 0.5s ease-in-out 1 forwards;
}

.delay-01 {
	animation-delay: 0.1s;
}

.delay-02 {
	animation-delay: 0.2s;
}

.delay-03 {
	animation-delay: 0.3s;
}

.delay-04 {
	animation-delay: 0.4s;
}

.delay-05 {
	animation-delay: 0.5s;
}

.delay-06 {
	animation-delay: 0.6s;
}

.delay-07 {
	animation-delay: 0.7s;
}

.delay-08 {
	animation-delay: 0.8s;
}

.delay-09 {
	animation-delay: 0.9s;
}

.delay-10 {
	animation-delay: 1.0s;
}

.delay-11 {
	animation-delay: 1.1s;
}

.delay-12 {
	animation-delay: 1.2s;
}

.delay-13 {
	animation-delay: 1.3s;
}

.delay-14 {
	animation-delay: 1.4s;
}

.delay-15 {
	animation-delay: 1.5s;
}

.delay-16 {
	animation-delay: 1.6s;
}

.delay-17 {
	animation-delay: 1.7s;
}

.delay-18 {
	animation-delay: 1.8s;
}

.delay-19 {
	animation-delay: 1.9s;
}

.delay-20 {
	animation-delay: 2.0s;
}

.delay-21 {
	animation-delay: 2.1s;
}

.delay-22 {
	animation-delay: 2.2s;
}

.delay-23 {
	animation-delay: 2.3s;
}

.delay-24 {
	animation-delay: 2.4s;
}

.delay-25 {
	animation-delay: 2.5s;
}

.avatar {
  display: flex;
  padding: 10px 10px;
  cursor: pointer;
}

.sk-img {
  flex: 1;
}
.sk-img img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 10px 20px #898888;
  transition: all 0.3s ease;
}

.sk-des {
  flex: 3;
  display: flex;
  align-items: center;
}

.avatar:hover img {
  width: 90%;
}

.main-modal {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(169, 169, 169, 0.6);;
  display: none;
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0;
  transform: translate(-58%, -50%);
  background-color: #ebe9e9;
  border-radius: 10px;
  /* box-shadow: 0 10px 20px #8c8c8c; */
  width: 30%;
  /* width: 50px; */
  /* height: 500px; */
  visibility: hidden;
  z-index: 10;
  /* color: #ebe9e9; */
  transition: all .5s ease ;
  padding: 10px 20px 30px;
}
.show-modal {
  /* width: 30%; */
  opacity: 1;
  top: 50%;
  visibility: visible;
}
.modal-body {
  display: flex;
}
.modal-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 25px;
}
.modal-img img {
  width: 50%;
}
.model-text {
  flex: 3
}

.x-time {
  display: flex;
  justify-content: end;
}








